# 1. Set the variable test1 to the string 'This is a test of the emergency text system' and save test1 to a file named test.txt

In [1]:
test1='This is a test of the emergency text system'

f=open('test.txt', 'w')
f.write(test1)
f.close()

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test1 and test2?

In [2]:
f2=open('test.txt', 'r')
test2=f2.read()

#There is no difference in test1 and test2. Both are a string type object

'This is a test of the emergency text system'

# 3. Create a CSV file called books.csv by using these lines:

### title,author,year
### The Weirdstone of Brisingamen,Alan Garner,1960
### Perdido Street Station,China Miéville,2000
### Thud!,Terry Pratchett,2005
### The Spellman Files,Lisa Lutz,2007
### Small Gods,Terry Pratchett,1992

In [5]:
import csv

data=[['title','author','year'], ['The Weirdstone of Brisingamen','Alan Garner','1960'], ['Perdido Street Station','China Miéville','2000'], ['Thud!','Terry Pratchett','2005'], ['The Spellman Files','Lisa Lutz','2007'], ['Small Gods','Terry Pratchett','1992']]

f_csv=open('books.csv', 'w', newline='')
csv_writer=csv.writer(f_csv, delimiter=',')
csv_writer.writerows(data)
f_csv.close()

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [41]:
import sqlite3

conn=sqlite3.connect('books.db')
c=conn.cursor()
c.execute("""CREATE TABLE books(
            title text,
            author text,
            year integer
            )""")

conn.commit()
conn.close()

OperationalError: table books already exists

# 5. Read books.csv and insert its data into the book table.

In [19]:
import csv

conn=sqlite3.connect('books.db')
c=conn.cursor()
data=open('books.csv')
csv_reader=csv.reader(data)
csv_data=list(csv_reader)
for data_line in csv_data[1:]:
    c.execute('INSERT INTO books VALUES (:title, :author, :year)', {'title': data_line[0], 'author': data_line[1], 'year': data_line[2]})
c.execute('SELECT * FROM books')
print(c.fetchall())
conn.commit()
conn.close()

# 6. Select and print the title column from the book table in alphabetical order.

In [28]:
conn=sqlite3.connect('books.db')
c=conn.cursor()
c.execute("""SELECT title 
            FROM books 
            ORDER BY title""")
print(c.fetchall())
conn.commit()
conn.close()

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

# 7. From the book table, select and print all columns in the order of publication.

In [29]:
conn=sqlite3.connect('books.db')
c=conn.cursor()
c.execute("""SELECT * 
            FROM books 
            ORDER BY year""")
print(c.fetchall())
conn.commit()
conn.close()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Small Gods', 'Terry Pratchett', 1992), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007)]

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [ ]:
from sqlalchemy import create_engine, MetaData, Table
engine = create_engine('sqlite:///books.sqlite')
metadata = MetaData()
books_table = Table('books', metadata, autoload=True, autoload_with=engine)

# 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [7]:
import redis
raddish=redis.StrictRedis(host='localhost', port=6379, db=0)
hashname="test"
raddish.hset(hashname, "count", 1)
raddish.hset(hashname, "name", "Fester Bestertester")
print(raddish.hgetall(hashname))

{b'count': b'1', b'name': b'Fester Bestertester'}

# 10. Increment the count field of test and print it.

In [13]:
raddish.hset(hashname, "count", int(raddish.hget(hashname, "count"))+1)
print(raddish.hget(hashname, "count"))

0